<ion-header>
  <ion-navbar>
    <ion-title class="expertTitle">
      Expert Mode
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="penguin" src="assets/icon/ExpertPenguin.png"/>
    <img class="birdy3" src="assets/icon/search.jpg"/>
  </ion-card>

	<ion-searchbar [(ngModel)]="twitterHandle" placeholder="       *** enter twitter handle ***">
  </ion-searchbar>

  <button ion-button full (click)="callExpertService()">Check Twitter Karma</button>
  <!-- <ion-title *ngIf="chart">{{results[0]}}</ion-title> -->
  <ion-card class="karma">
  <p class="waitingForWinner" *ngIf="!showWinnerTitle"> *** MOST RECENT TWEET *** </p>
  <p class="total" *ngIf="showWinnerTitle"> {{mostRecentTweet}}</p>
</ion-card>

<ion-list>
  <ion-item>
    <ion-label class="graphDisplay">Tweets Analyzed</ion-label>
    <ion-select [(ngModel)]="selectedGraph" (ionChange)="onInput()">
      <ion-option value="lastTwentyFive" >Last 25</ion-option>
      <ion-option value="lastFifty" >Last 50</ion-option>
      <ion-option value="lastOneHundred" >Last 100</ion-option>
      <ion-option value="lastTwoHundred" >Last 200</ion-option>
    </ion-select>
  </ion-item>
</ion-list>


  <div class="d3-chart" #chart></div>
  <!-- <p class="bottomCard">
    <ion-row *ngIf="showWinnerTitle">
    <ion-col class="axislabel">Total</ion-col>
    <ion-col class="axislabel">Positive</ion-col>
    <ion-col class="axislabel">Negative</ion-col>
  </ion-row>
</p> -->
</ion-content>
