page-home {

  .homeTitle {

    text-align: center;
  }
  .select {
    bottom: 0px;
  }

  .about {
    bottom: 30px;
  }

  .battle {
    bottom: 90px;
  }
  .expert {
    bottom: 150px;
  }

  .penguin {
    position: absolute;
    height: 300px;
    top: 50px;
  }


}
