<ion-header>
  <ion-navbar>
    <ion-title>
      Project Clean Tweets
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar [(ngModel)]="twitterHandle"
		(cancel)="userPressedCancel()"
		(keyup)="keyHasBeenPressed($event)"
    placeholder="Enter a Twitter Handle">
  </ion-searchbar>

  <button ion-button (click)="callService()">Call Service</button>
  <ion-title *ngIf="score">{{score}}</ion-title>
  <ion-list *ngFor="let tweet of tweets">
    <ion-card>
      <ion-card-content>{{tweet.retweetCount}}</ion-card-content>
      <ion-card-content>{{tweet.unmodifiedText}}</ion-card-content>
    </ion-card>
  </ion-list>
  <button ion-button (click)="goToBattle()">Battle</button>
</ion-content>
