page-battle {

  .karma {
    height:50px;
  }

  .waitingForWinner {
    color: #aaaaaa;
    text-align: center;
  }
  .winner {
    border-top: 4px;
    font-size:15px;
    color: black;
    text-align: center;
  }
  .loser {
    font-size: 15px;
    color: red;
    text-align: center;
  }
  .outcome {
    height:30px;
  }
  .axislabel {
    margin-left: 10px;
    font-size: 8px;
  }

.d3-chart {
  margin: 10px auto 10px auto;
  height: 25%;
  bottom: 0px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  position: relative;
  fill: #999;
  bottom:10px;
}
ion-card {
  height: 20%;
  position: relative;
}
.bottomCard {
  height: 30px;
}
.penguin {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.birdy1 {
  transform: rotateY(180deg);
  position: absolute;
  bottom:10px;
  right: 10px;
  width: 30%;
}
.birdy2 {
  position: absolute;
  bottom: 10px;
  margin-right: 10px;
  width: 30%;
}

}
