<ion-header>
  <ion-navbar>
    <ion-title class="battleTitle">
      Battle Mode
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="penguin" src="assets/icon/judgepenguin.png"/>
    <img class="birdy1" src="assets/icon/search.jpg"/>
    <img class="birdy2" src="assets/icon/search.jpg"/>
  </ion-card>

	<ion-searchbar [(ngModel)]="awayTwitterHandle" placeholder="       *** enter twitter handle ***">
  </ion-searchbar>

  <ion-searchbar [(ngModel)]="homeTwitterHandle" placeholder="       *** enter twitter handle ***">
  </ion-searchbar>
  <button ion-button full (click)="callKarmaService()">Check Twitter Karma</button>
  <!-- <ion-title *ngIf="chart">{{results[0]}}</ion-title> -->
  <ion-card class="karma">
  <p class="waitingForWinner" *ngIf="!showWinnerTitle"> *** WAITING FOR KARMA TALLEY *** </p>
  <p class="winner" *ngIf="showWinnerTitle">Winner {{results[0]}} with a score of {{results[2]}}</p>
  <p class="loser" *ngIf="showWinnerTitle">Loser {{results[1]}} with a score of {{results[5]}} </p>
</ion-card>

<ion-list>
  <ion-item>
    <ion-label class="graphDisplay">Graph Display</ion-label>
    <ion-select [(ngModel)]="selectedGraph" (ionChange)="onInput()">
      <ion-option value="overall">Overall</ion-option>
      <ion-option value="positive">Positive</ion-option>
      <ion-option value="negative">Negative</ion-option>
    </ion-select>
  </ion-item>
</ion-list>


  <div class="d3-chart" #chart></div>

</ion-content>
